.link-card-container {
  width: 220px;
  box-shadow: -2px 2px 10px rgb(184, 184, 184);
  border-radius: 5px;
}

.card-container {
  width: 100%;
}

.card-img-container {
  height: 180px;
}

.item-image-sm {
  max-width: 150px;
  max-height: 130px;
}

.card-text-container {
  height: 80px;
  
}

.card-text-title-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-text {
  color:rgb(150, 97, 0)
}